<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zkouska">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Nákupní seznam"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zkouska">
        <activity
            android:name=".AddSeznamActivity"
            android:exported="false" />
        <activity
            android:name=".Polozky"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Nákupní seznam"
            android:theme="@style/MaterialAlertDialog.MaterialComponents.Title.Icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>